version: "3.8"

services:
  products_api:
    build: ./products-api
    command: uvicorn products_api.main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    volumes:
      - ./products-api:/app
    ports:
      - 8000:8000
    depends_on:
      - db

  db:
    image: postgres:13-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=root
      - POSTGRES_DB=products_manager
    volumes:
      - ./initial-db-data:/docker-entrypoint-initdb.d
    ports:
      - 5432:5432

volumes:
  db:
    external: false
