version: "3.8"

services:

  products_api:
    build: ./products-api
    command: uvicorn main:app --reload --workers 1 --host 0.0.0.0 --port 8000
    volumes:
      - ./products-api:/app
    ports:
      - 8000:8000
